.p-about {
  @include content-width;
  padding-top: $section-top;
  margin-bottom: $section-bottom;

  & > h2 {
    position: relative;
    text-align: center;
    margin-bottom: $margin_between_title-content;

    &::after {
      @include sectionTitle_pseudoElement("ABOUT", -100%, -50%);
    }
  }

  & > p {
    text-align: center;
  }

  &__advantage {
    display: grid;
    margin-top: 60px;

    @include bp-960up {
      grid-template-columns: 300px 1fr;
    }

    &__title {
      position: relative;
      line-height: 300px;
      width: 300px;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 550;
      color: $softBlack;
      letter-spacing: 2px;
      margin: 0 auto;

      &::before {
        content: "";
        display: block;
        position: absolute;
        background-image: url(../../../images/advantage_circle.png);
        background-size: contain;
        background-repeat: none;
        width: 300px;
        height: 300px;
        animation: 35s linear infinite rotate_normal;
      }
    }

    &__list {
      position: relative;
      list-style: none;
      margin: 0 auto;
      margin-top: 30px;
      max-width: 500px;

      @include bp-480up {
        width: 80%;
      }

      @include bp-600up {
        width: 60%;
      }

      @include bp-960up {
        width: fit-content;
        margin: 0;
        margin-top: 54px;
        padding-left: 80px;
      }

      &__item {
        font-size: 1.1rem;
        letter-spacing: 1px;
        font-weight: 600;
        margin-top: 20px;
        cursor: pointer;

        & > svg {
          margin-left: 8px;
          font-size: 0.9rem;
          color: #70818c;
          animation: 1.3s linear 1.3s infinite move-right-left;
        }

        &__detail {
          overflow: hidden;
          margin-bottom: 10px;

          & > p {
            height: 0;
            transform: translateY(-100%);
            margin-top: 10px;
            font-size: 0.8rem;
            font-weight: 400;
            transition: all 0.4s ease-in-out;
            border-left: 1px solid $gray;
            padding-left: 10px;
            margin-left: 1px;
          }
        }
      }
    }
  }

  &__vision {
    margin-top: 60px;
    display: grid;
    @include bp-960up {
      grid-template-columns: 300px 1fr;
    }

    &__title {
      position: relative;
      line-height: 220px;
      width: 220px;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 550;
      color: $softBlack;
      letter-spacing: 2px;
      margin: 0 auto;

      &::before {
        content: "";
        display: block;
        position: absolute;
        background-image: url(../../../images/vision_circle.png);
        background-size: contain;
        background-repeat: none;
        width: 220px;
        height: 220px;
        animation: 35s linear infinite rotate_normal;
      }
    }

    &__list {
      position: relative;
      list-style: none;
      width: 340px;
      margin: 0 auto;
      margin-top: 30px;
      width: fit-content;
      list-style: none;

      @include bp-960up {
        padding-left: 80px;
        margin: 0;
        margin-top: 30px;
      }

      & > li {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        font-weight: 600;
        margin-top: 20px;

        & > span {
          font-weight: 600;
          margin-right: 15px;
          font-size: 1.5rem;
          color: $gray;
        }
      }
    }
  }
}

.p-about__advantage__list__item.active {
  svg {
    transform: rotate(90deg);
    animation: none;
  }

  .p-about__advantage__list__item__detail {
    p {
      height: auto;
      transform: translateY(0);
    }
  }
}

@keyframes move-right-left {
  0%,
  100% {
    transform: translateX(0%);
  }

  40% {
    transform: translateX(5px);
  }
}

@keyframes rotate_normal {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
