.p-about {
  @include content-width;
  padding-top: $section-top;

  @include bp-600up {
    margin-bottom: $section-bottom;
  }

  & > h2 {
    @include sectionTitle;

    &::after {
      @include sectionTitle_pseudoElement("ABOUT", -100%, -50%);
    }
  }

  & > p {
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.5rem;

    @include bp-600up {
      font-size: 0.9rem;
    }
  }

  &__advantage {
    display: grid;
    margin-top: 60px;
    max-width: 850px;

    @include bp-960up {
      grid-template-columns: 220px 1fr;
      margin: 0 auto;
      margin-top: 60px;
    }

    &__title {
      @include about_contentsTitle;

      &::before {
        @include about_contentsTitle_image(
          "../images/advantage_circle.png",
          rotate_normal
        );
      }
    }

    &__list {
      position: relative;
      list-style: none;
      margin: 0 auto;
      margin-top: 30px;

      @include bp-480up {
        width: 80%;
      }

      @include bp-600up {
        width: 60%;
      }

      @include bp-960up {
        width: fit-content;
        margin: 0;
        margin-top: 25px;
        padding-left: 80px;
      }

      &__item {
        font-size: 0.9rem;
        letter-spacing: 1px;
        font-weight: 500;
        margin-top: 12px;
        cursor: pointer;

        @include bp-600up {
          font-size: 1rem;
          margin-top: 15px;
        }

        & > svg {
          margin-left: 8px;
          font-size: 0.9rem;
          color: #70818c;
          animation: 1.3s linear 1.3s infinite move-right-left;
        }

        &__detail {
          overflow: hidden;
          margin-bottom: 10px;

          & > p {
            height: 0;
            transform: translateY(-100%);
            margin-top: 10px;
            font-size: 0.8rem;
            font-weight: 400;
            transition: all 0.4s ease-in-out;
            border-left: 1px solid $gray;
            padding-left: 10px;
            margin-left: 1px;
          }
        }
      }
    }
  }

  &__vision {
    display: grid;
    margin-top: 60px;
    max-width: 850px;

    @include bp-960up {
      grid-template-columns: 220px 1fr;
      margin: 0 auto;
      margin-top: 60px;
    }

    &__title {
      @include about_contentsTitle;

      &::before {
        @include about_contentsTitle_image(
          "../images/vision_circle.png",
          rotate_normal
        );
      }
    }

    &__list {
      position: relative;
      list-style: none;
      width: 340px;
      margin: 0 auto;
      margin-top: 30px;
      width: fit-content;
      list-style: none;

      @include bp-960up {
        padding-left: 80px;
        margin: 0;
        margin-top: 25px;
      }

      & > li {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 0.9rem;
        margin-top: 12px;
        letter-spacing: 1px;
        cursor: pointer;

        @include bp-600up {
          font-size: 1rem;
          margin-top: 15px;
        }

        & > span {
          font-weight: 600;
          margin-right: 15px;
          font-size: 1.5rem;
          color: $gray;
          padding-bottom: 1px;
        }
      }
    }
  }
}

.p-about__advantage__list__item.active {
  svg {
    transform: rotate(90deg);
    animation: none;
  }

  .p-about__advantage__list__item__detail {
    p {
      height: auto;
      transform: translateY(0);
    }
  }
}

@keyframes move-right-left {
  0%,
  100% {
    transform: translateX(0%);
  }

  40% {
    transform: translateX(5px);
  }
}

@keyframes rotate_normal {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
