@charset "UTF-8";
/*!
 * ress.css • v3.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

html {
  font-style: normal;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  position: relative;
  background-color: #fcf9f9;
}

.l-header {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 64px;
  width: 100%;
  z-index: 300;
  display: none;
  -webkit-transition: background-color ease 0.2s;
  transition: background-color ease 0.2s;
}

.l-header.background_on {
  background-color: rgba(252, 249, 249, 0.9);
}

@media screen and (min-width: 960px) {
  .l-header {
    display: block;
  }
}

.l-header__container {
  max-width: 1260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding-left: 2rem;
}

.l-header__container > nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.l-header__container > nav > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  padding: 0 20px;
}

.l-header__container > nav > ul > li:first-child {
  margin-right: 3px;
}

.l-header__container > nav > ul > li:first-child > a {
  color: #252525;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
}

.l-header__container > nav > ul > li > a {
  display: inline-block;
  position: relative;
  color: #252525;
  text-decoration: none;
  overflow: hidden;
}

.l-header__container > nav > ul > li > a::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: -webkit-transform ease-in-out 0.2s;
  transition: -webkit-transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
  background-color: #252525;
  height: 1px;
  width: 100%;
}

.l-header__container > nav > ul > li > a:hover::before {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.l-header-mobile {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 2rem;
  z-index: 400;
  height: 64px;
}

.l-header-mobile.background_on {
  background-color: rgba(252, 249, 249, 0.9);
}

@media screen and (min-width: 960px) {
  .l-header-mobile {
    display: none;
  }
}

.l-header-mobile > a {
  color: #252525;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
}

.l-header-mobile > button {
  width: 2.3rem;
  height: 2.3rem;
  border: 1px solid #252525;
  border-radius: 50%;
  font-size: 0.5rem;
  font-weight: 600;
  outline: none;
  color: #252525;
}

.l-header-mobile > button:hover {
  background-color: #ecebeb;
}

.l-side {
  position: fixed;
  top: 80%;
  left: -45px;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  z-index: 300;
  display: none;
}

@media screen and (min-width: 480px) {
  .l-side {
    left: -20px;
  }
}

@media screen and (min-width: 960px) {
  .l-side {
    display: block;
    top: 50%;
    right: -15px;
    left: auto;
    -webkit-transform: translateY(-50%) rotate(90deg);
            transform: translateY(-50%) rotate(90deg);
  }
}

.l-side > a {
  display: inline-block;
  position: relative;
  color: #252525;
  text-decoration: none;
  margin-right: 1rem;
  font-size: 0.8rem;
  padding: 0 1px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  overflow: hidden;
}

@media screen and (min-width: 960px) {
  .l-side > a {
    -webkit-transform: none;
            transform: none;
    margin-right: 2rem;
  }
}

.l-side > a::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: -webkit-transform ease-in-out 0.2s;
  transition: -webkit-transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
  background-color: #252525;
  height: 1px;
  width: 100%;
}

.l-side > a > svg {
  color: #252525;
  font-size: 1rem;
  margin-right: 0.3rem;
  background-color: #fcf9f9;
  border-radius: 50%;
}

@media screen and (min-width: 960px) {
  .l-side > a > svg {
    background-color: transparent;
  }
}

.l-side > a > span {
  display: none;
}

@media screen and (min-width: 960px) {
  .l-side > a > span {
    display: inline-block;
  }
}

.l-side > a:hover::before {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.l-footer {
  background-color: #ecebeb;
  margin-top: 120px;
  padding-top: 120px;
}

.l-footer__container {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .l-footer__container {
    width: 90%;
  }
}

.l-footer__container > p {
  text-align: center;
  padding-bottom: 80px;
  font-size: 0.9rem;
  line-height: 1.8rem;
  width: 80%;
  margin: 0 auto;
}

.l-footer__container > p > a {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  color: #fcf9f9;
  background-color: #252525;
  border-radius: 50%;
}

.l-footer__container > p > a > svg {
  font-size: 1.2rem;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.l-footer__container > p > a:hover {
  background-color: #5a5a5a;
}

.l-footer__container__memo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-footer__container__memo > span {
  display: block;
  font-size: 0.7rem;
  margin-bottom: 5px;
  text-align: end;
}

.l-footer__container__memo > span > a {
  color: #252525;
}

.c-nav-mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fcf9f9;
  width: 60%;
  z-index: 500;
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-box-shadow: 2px 0px 16px 0 #a7a7a7;
          box-shadow: 2px 0px 16px 0 #a7a7a7;
}

.c-nav-mobile > ul {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
}

.c-nav-mobile > ul > li {
  height: 2.5rem;
  margin-bottom: 15px;
  text-align: center;
  position: relative;
}

.c-nav-mobile > ul > li > a {
  display: inline-block;
  color: #252525;
  font-weight: 550;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.c-nav-mobile > ul > li::after {
  position: absolute;
  left: 50%;
  bottom: 3px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0.5rem;
  width: 4rem;
}

.c-nav-mobile > ul > li:nth-child(1)::after {
  content: "トップ";
}

.c-nav-mobile > ul > li:nth-child(2)::after {
  content: "実績";
}

.c-nav-mobile > ul > li:nth-child(3)::after {
  content: "スキル";
}

.c-nav-mobile > ul > li:nth-child(4)::after {
  content: "私について";
}

.c-nav-mobile > ul > li:nth-child(5)::after {
  content: "お問合せ";
}

.c-nav-mobile > ul > li:nth-child(6) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-nav-mobile > ul > li:nth-child(6) > a {
  font-size: 1.2rem;
  margin: 0 5px;
  color: #252525;
}

.c-nav-mobile > ul > li:last-child {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  margin: 0 auto;
  border-radius: 50%;
}

.c-nav-mobile > ul > li:last-child:hover {
  background-color: #ecebeb;
}

.c-nav-mobile > ul > li:last-child > i {
  font-size: 1.2rem;
}

.c-nav-mobile.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.p-hero {
  height: 500px;
  width: 100%;
  background-color: #ecebeb;
  z-index: -100;
  overflow: hidden;
}

.p-hero__container {
  position: relative;
  height: 100%;
  width: 100%;
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .p-hero__container {
    width: 90%;
  }
}

.p-hero__container > img {
  position: absolute;
  top: 10%;
  left: -34%;
  height: 450px;
}

@media screen and (min-width: 480px) {
  .p-hero__container > img {
    left: -15%;
  }
}

@media screen and (min-width: 600px) {
  .p-hero__container > img {
    top: 15%;
    left: -5%;
  }
}

@media screen and (min-width: 960px) {
  .p-hero__container > img {
    top: 20%;
    left: 0;
  }
}

.p-hero__container > p {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 70%;
  line-height: 1.8rem;
  font-weight: 600;
  font-size: 1rem;
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
}

@media screen and (min-width: 480px) {
  .p-hero__container > p {
    left: 33%;
    width: 60%;
  }
}

@media screen and (min-width: 600px) {
  .p-hero__container > p {
    left: 33%;
    width: 70%;
    font-size: 1.2rem;
    line-height: 2.3rem;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 960px) {
  .p-hero__container > p {
    top: 37%;
    left: 30%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1.2rem;
    line-height: 2.3rem;
    letter-spacing: 2px;
  }
}

.p-works {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 120px;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .p-works {
    width: 90%;
  }
}

@media screen and (min-width: 600px) {
  .p-works {
    margin-bottom: 100px;
  }
}

.p-works > h2 {
  position: relative;
  text-align: center;
  color: #5a5a5a;
  font-size: 0.9rem;
  margin-bottom: 40px;
}

@media screen and (min-width: 600px) {
  .p-works > h2 {
    font-size: 1.5rem;
    margin-bottom: 70px;
    color: #252525;
  }
}

.p-works > h2::after {
  content: "WORKS";
  display: inline-block;
  position: absolute;
  font-weight: 600;
  z-index: -100;
  top: -110%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #434343;
  font-size: 2rem;
}

@media screen and (min-width: 600px) {
  .p-works > h2::after {
    top: 30%;
    right: 0;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
    color: #ecebeb;
    font-size: 7rem;
  }
}

@media screen and (min-width: 960px) {
  .p-works > h2::after {
    font-size: 10rem;
  }
}

.p-works__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
}

@media screen and (min-width: 960px) {
  .p-works__container {
    row-gap: 50px;
  }
}

.p-works__container__item {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  position: relative;
  height: 200px;
  margin: 0 auto;
  -webkit-box-shadow: 2px 2px 7px 0 #a7a7a7;
          box-shadow: 2px 2px 7px 0 #a7a7a7;
}

.p-works__container__item__image {
  height: 100%;
  overflow: hidden;
}

.p-works__container__item__image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.p-works__container__item__image > img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.p-works__container__item > span {
  position: absolute;
  font-size: 0.7rem;
  padding: 0 3px;
  right: -13px;
  top: 5px;
  font-size: 0.7rem;
  color: #fcf9f9;
  padding: 3px 5px 4px 5px;
  background-color: #59636a;
}

.p-works__container__item__modal {
  display: none;
  position: relative;
  z-index: 900;
}

.p-works__container__item__modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(139, 139, 139, 0.8);
}

.p-works__container__item__modal__container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fcf9f9;
  border-radius: 5px;
  padding: 15px;
  padding-bottom: 36px;
}

@media screen and (min-width: 960px) {
  .p-works__container__item__modal__container {
    width: 700px;
    max-width: none;
    height: 550px;
    padding: 20px;
  }
}

.p-works__container__item__modal__container__btn--close {
  position: absolute;
  bottom: 8px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: #59636a;
  border: 1px solid #59636a;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .p-works__container__item__modal__container__btn--close {
    top: 8px;
    right: 20px;
    border: none;
    color: #252525;
  }
}

@media screen and (min-width: 960px) {
  .p-works__container__item__modal__container__btn--close {
    top: 10px;
  }
}

.p-works__container__item__modal__container__btn--close:hover {
  background-color: #dcdcdc;
}

.p-works__container__item__modal__container__btn--close > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-works__container__item__modal__container > h3 {
  width: 100%;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

@media screen and (min-width: 960px) {
  .p-works__container__item__modal__container > h3 {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
}

.p-works__container__item__modal__container__content {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (min-width: 960px) {
  .p-works__container__item__modal__container__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 250px 1fr;
        grid-template-columns: 250px 1fr;
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
}

.p-works__container__item__modal__container__content__explain > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
  padding-left: 3px;
  white-space: nowrap;
}

.p-works__container__item__modal__container__content__explain > span > a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  white-space: normal;
  color: #246edd;
  pointer-events: all;
}

.p-works__container__item__modal__container__content__explain > label {
  display: block;
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 15px;
  color: #252525;
  background-color: #ecebeb;
  padding-left: 4px;
  padding-bottom: 3px;
}

@media screen and (min-width: 960px) {
  .p-works__container__item__modal__container__content__explain > label {
    font-size: 0.9rem;
  }
}

.p-works__container__item__modal__container__content__explain > label:first-child {
  margin-top: 0;
}

.p-works__container__item__modal__container__content__explain > p {
  font-size: 0.8rem;
  padding-left: 3px;
}

.p-works__container__item__modal__container__content__image {
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
  .p-works__container__item__modal__container__content__image {
    height: 200px;
  }
}

@media screen and (min-width: 960px) {
  .p-works__container__item__modal__container__content__image {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 8px;
    -webkit-column-gap: 8px;
            column-gap: 8px;
    height: 100%;
    margin: 0;
  }
}

.p-works__container__item__modal__container__content__image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  display: none;
}

@media screen and (min-width: 960px) {
  .p-works__container__item__modal__container__content__image > img {
    display: block;
  }
}

.p-works__container__item__modal__container__content__image > img:nth-child(1) {
  display: block;
}

@media screen and (min-width: 960px) {
  .p-works__container__item__modal__container__content__image > img:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
}

.p-works__container__item__modal__container__content__image > img:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
}

.p-works__container__item__modal__container__content__image > img:nth-child(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.p-works__container__item__modal__container__content__image > img:nth-child(4) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.p-works__container__item.active .p-works__container__item__modal {
  display: block;
}

.p-skills {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 120px;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .p-skills {
    width: 90%;
  }
}

@media screen and (min-width: 600px) {
  .p-skills {
    margin-bottom: 100px;
  }
}

.p-skills > h2 {
  position: relative;
  text-align: center;
  color: #5a5a5a;
  font-size: 0.9rem;
  margin-bottom: 40px;
}

@media screen and (min-width: 600px) {
  .p-skills > h2 {
    font-size: 1.5rem;
    margin-bottom: 70px;
    color: #252525;
  }
}

.p-skills > h2::after {
  content: "SKILLS";
  display: inline-block;
  position: absolute;
  font-weight: 600;
  z-index: -100;
  top: -110%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #434343;
  font-size: 2rem;
}

@media screen and (min-width: 600px) {
  .p-skills > h2::after {
    top: 30%;
    right: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    color: #ecebeb;
    font-size: 7rem;
  }
}

@media screen and (min-width: 960px) {
  .p-skills > h2::after {
    font-size: 10rem;
  }
}

.p-skills__list {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 480px) {
  .p-skills__list {
    width: 90%;
  }
}

.swiper-container {
  width: 100%;
  max-width: 270px;
  height: 400px;
}

@media screen and (min-width: 480px) {
  .swiper-container {
    max-width: none;
    height: 200px;
  }
}

.swiper-slide {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: inset -1px -2px 3px 0 #a7a7a7;
          box-shadow: inset -1px -2px 3px 0 #a7a7a7;
}

.swiper-slide > ul {
  list-style: none;
  margin: 20px;
}

.swiper-slide > ul > li {
  display: -ms-grid;
  display: grid;
  margin-top: 5px;
  font-size: 0.9rem;
  -ms-grid-columns: 1.3rem 1fr 6rem;
      grid-template-columns: 1.3rem 1fr 6rem;
}

.swiper-slide > ul > li > img,
.swiper-slide > ul > li > i {
  margin-top: 4px;
  margin-right: 5px;
}

.swiper-slide > ul > li > img {
  width: 1rem;
  height: 1rem;
}

@media screen and (min-width: 600px) {
  .swiper-slide > ul > li > span:nth-of-type(1) {
    display: none;
  }
}

.swiper-slide > ul > li > span:nth-of-type(2) {
  display: none;
}

@media screen and (min-width: 600px) {
  .swiper-slide > ul > li > span:nth-of-type(2) {
    display: inline-block;
  }
}

.p-about {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 120px;
}

@media screen and (min-width: 480px) {
  .p-about {
    width: 90%;
  }
}

@media screen and (min-width: 600px) {
  .p-about {
    margin-bottom: 100px;
  }
}

.p-about > h2 {
  position: relative;
  text-align: center;
  color: #5a5a5a;
  font-size: 0.9rem;
  margin-bottom: 40px;
}

@media screen and (min-width: 600px) {
  .p-about > h2 {
    font-size: 1.5rem;
    margin-bottom: 70px;
    color: #252525;
  }
}

.p-about > h2::after {
  content: "ABOUT";
  display: inline-block;
  position: absolute;
  font-weight: 600;
  z-index: -100;
  top: -110%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #434343;
  font-size: 2rem;
}

@media screen and (min-width: 600px) {
  .p-about > h2::after {
    top: 30%;
    right: 0;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
    color: #ecebeb;
    font-size: 7rem;
  }
}

@media screen and (min-width: 960px) {
  .p-about > h2::after {
    font-size: 10rem;
  }
}

.p-about > p {
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

@media screen and (min-width: 600px) {
  .p-about > p {
    font-size: 0.9rem;
  }
}

.p-about__advantage {
  display: -ms-grid;
  display: grid;
  margin-top: 60px;
  max-width: 850px;
}

@media screen and (min-width: 960px) {
  .p-about__advantage {
    -ms-grid-columns: 220px 1fr;
        grid-template-columns: 220px 1fr;
    margin: 0 auto;
    margin-top: 60px;
  }
}

.p-about__advantage__title {
  position: relative;
  line-height: 150px;
  width: 150px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 550;
  color: #444444;
  letter-spacing: 2px;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .p-about__advantage__title {
    line-height: 200px;
    width: 200px;
    font-size: 1.4rem;
  }
}

.p-about__advantage__title::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../images/advantage_circle.png");
  background-size: contain;
  background-repeat: none;
  width: 150px;
  height: 150px;
  -webkit-animation: 40s linear infinite rotate_normal;
          animation: 40s linear infinite rotate_normal;
}

@media screen and (min-width: 600px) {
  .p-about__advantage__title::before {
    width: 200px;
    height: 200px;
  }
}

.p-about__advantage__list {
  position: relative;
  list-style: none;
  margin: 0 auto;
  margin-top: 30px;
}

@media screen and (min-width: 480px) {
  .p-about__advantage__list {
    width: 80%;
  }
}

@media screen and (min-width: 600px) {
  .p-about__advantage__list {
    width: 60%;
  }
}

@media screen and (min-width: 960px) {
  .p-about__advantage__list {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    margin-top: 25px;
    padding-left: 80px;
  }
}

.p-about__advantage__list__item {
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 12px;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .p-about__advantage__list__item {
    font-size: 1rem;
    margin-top: 15px;
  }
}

.p-about__advantage__list__item > svg {
  margin-left: 8px;
  font-size: 0.9rem;
  color: #70818c;
  -webkit-animation: 1.3s linear 1.3s infinite move-right-left;
          animation: 1.3s linear 1.3s infinite move-right-left;
}

.p-about__advantage__list__item__detail {
  overflow: hidden;
  margin-bottom: 10px;
}

.p-about__advantage__list__item__detail > p {
  height: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: 400;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-left: 1px solid #a7a7a7;
  padding-left: 10px;
  margin-left: 1px;
}

.p-about__vision {
  display: -ms-grid;
  display: grid;
  margin-top: 60px;
  max-width: 850px;
}

@media screen and (min-width: 960px) {
  .p-about__vision {
    -ms-grid-columns: 220px 1fr;
        grid-template-columns: 220px 1fr;
    margin: 0 auto;
    margin-top: 60px;
  }
}

.p-about__vision__title {
  position: relative;
  line-height: 150px;
  width: 150px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 550;
  color: #444444;
  letter-spacing: 2px;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .p-about__vision__title {
    line-height: 200px;
    width: 200px;
    font-size: 1.4rem;
  }
}

.p-about__vision__title::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../images/vision_circle.png");
  background-size: contain;
  background-repeat: none;
  width: 150px;
  height: 150px;
  -webkit-animation: 40s linear infinite rotate_normal;
          animation: 40s linear infinite rotate_normal;
}

@media screen and (min-width: 600px) {
  .p-about__vision__title::before {
    width: 200px;
    height: 200px;
  }
}

.p-about__vision__list {
  position: relative;
  list-style: none;
  width: 340px;
  margin: 0 auto;
  margin-top: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  list-style: none;
}

@media screen and (min-width: 960px) {
  .p-about__vision__list {
    padding-left: 80px;
    margin: 0;
    margin-top: 25px;
  }
}

.p-about__vision__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 0.9rem;
  margin-top: 12px;
  letter-spacing: 1px;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .p-about__vision__list > li {
    font-size: 1rem;
    margin-top: 15px;
  }
}

.p-about__vision__list > li > span {
  font-weight: 600;
  margin-right: 15px;
  font-size: 1.5rem;
  color: #a7a7a7;
  padding-bottom: 1px;
}

.p-about__advantage__list__item.active svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: none;
          animation: none;
}

.p-about__advantage__list__item.active .p-about__advantage__list__item__detail p {
  height: auto;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@-webkit-keyframes move-right-left {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  40% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

@keyframes move-right-left {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  40% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

@-webkit-keyframes rotate_normal {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate_normal {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.u-mobile_none {
  display: none !important;
}

@media screen and (min-width: 600px) {
  .u-mobile_none {
    display: block;
  }
}
/*# sourceMappingURL=app.css.map */