.l-footer {
  background-color: $lightGray;
  margin-top: $section-top;
  padding-top: $section-top;

  &__container {
    @include content-width;
    & > p {
      text-align: center;
      padding-bottom: 80px;
      font-size: 0.9rem;
      line-height: 1.8rem;

      & > a {
        position: relative;
        display: inline-block;
        width: 2.5rem;
        height: 2.5rem;
        color: $white;
        background-color: $black;
        border-radius: 50%;

        & > svg {
          font-size: 1.2rem;
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &:hover {
          background-color: $darkGray;
        }
      }
    }

    &__memo {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;

      & > span {
        display: block;
        font-size: 0.7rem;
        margin-bottom: 5px;
        text-align: end;

        & > a {
          color: $black;
        }
      }
    }
  }
}
