.l-header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  height: $header-height;
  width: 100%;
  z-index: 300;
  display: none;
  transition: background-color ease 0.2s;

  &.background_on {
    background-color: $header-bg-color;
  }

  @include bp-960up {
    display: block;
  }

  &__container {
    max-width: 1260px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-left: 2rem;

    & > nav {
      & > ul {
        display: flex;
        list-style: none;

        & > li {
          display: flex;
          align-items: center;
          height: $header-height;
          padding: 0 20px;

          &:first-child {
            margin-right: 3px;
            & > a {
              color: $black;
              text-decoration: none;
              font-weight: 600;
              font-size: 1.1rem;
            }
          }

          & > a {
            display: inline-block;
            position: relative;
            color: $black;
            text-decoration: none;
            overflow: hidden;

            &::before {
              content: "";
              display: block;
              position: absolute;
              left: 50%;
              bottom: 0;
              transform: translateX(-150%);
              transition: transform ease-in-out 0.2s;
              background-color: $black;
              height: 1px;
              width: 100%;
            }

            &:hover {
              &::before {
                transform: translateX(-50%);
              }
            }
          }
        }
      }
    }
  }
}
